{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <table id="info-table" class="table">
            <tr>
                <td>
                    Memory
                </td>
                <td>
                    <canvas id="used-memory-graph" width="200" height="18"></canvas>
                </td>
                <td>
                    <span id="used-memory">0</span>/<span id="total-memory">0</span>MB
                </td>
            </tr>
            <tr>
                <td>
                    Swap
                </td>
                <td>
                    <canvas id="used-swap-graph" width="200" height="18"></canvas>
                </td>
                <td>
                    <span id="used-swap">0</span>/<span id="total-swap">0</span>MB
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <table class="table">
            <tr><td>Tasks</td><td><span id="tasks-num">0</span></td></tr>
            <tr><td>Uptime</td><td><span id="uptime">0</span></td></tr>
        </table>
    </div>
</div>
{% endblock %}
