html {
    position: relative;
    min-height: 100%;
}

canvas {
    width: 100%;
}

.main-container {
    margin-top: 20px;
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    vertical-align: center;
}

.footer .text-muted {
    margin-top: 18px;
}
